@import url(./variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/bg1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -10px;
  /* 🎞️ Animación para cambiar fondo */
  animation: backgroundChange 540s infinite; /* 540s = 3 minutos por imagen */
}

@keyframes backgroundChange {
  0%, 33.33% {
    background-image: url(../assets/images/bg1.png);
  }
  33.34%, 66.66% {
    background-image: url(../assets/images/bg.png);
  }
  66.67%, 100% {
    background-image: url(../assets/images/bg2.jpeg);
  }
}


header h1 {
  font-size: 4rem;
  font-family: "Space_Grotesk-Bold", sans-serif;
  color: var(--color-5);
  margin-bottom: 50px;
}

header p {
  font-size: 1.5rem;
  font-family: "Space_Grotesk-Regular", sans-serif;
  color: var(--color-5);
  margin: 70px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: var(--color-3);
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* 👻 Comienza invisible */
    transform: translateY(20px); /* 🔽 Desplazamiento inicial hacia abajo */
  }
  100% {
    opacity: 1; /* ✨ Totalmente visible */
    transform: translateY(0); /* ✅ Posición final */
  }
}

/* 🌄 Pseudo-elemento para degradado */
main::before {
  content: ""; /* 🌀 Elemento vacío para aplicar el fondo */
  bottom: 0; /* 📍 Lo coloca al fondo */
  left: 0; /* 📍 Lo posiciona en la izquierda */
  width: 100%; /* 📏 Ancho extendido */
  margin-top: -700px; /* 📏 Ajuste de posición */
  height: 700px; /* 📏 Altura para degradado */
  background: linear-gradient(180deg, transparent 0%, var(--color-3) 100%); /* 🎨 Degradado */
}

/* 🏕️ Contenedor principal */
.mainContent {
  display: flex; /* 📐 Activa flexbox */
  flex-direction: column; /* ⬆ Organiza los elementos en columna */
  justify-content: center; /* 🎯 Centra verticalmente */
  align-items: center; /* 📍 Alineación centrada */
  width: 100%; /* 📏 Ocupa todo el ancho */
  position: relative; /* 📌 Necesario para superposiciones */
  margin-top: -250px; /* 📏 Ajuste de posición */
}