:root {
  --color-1: #313338;
  --color-2: #2B2D31;
  --color-3: #232428;
  --color-4: #000000;
  --color-5: #FFFFFF;
  --color-6: #B9FF66;
  --color-7: #191A23;
  --color-8: #F3F3F3;
  --color-9: #231F20;
  --color-10: #898989;
  --color-11: #0D0C22;
  --color-12: #292A32;
  --color-13: #2D8CFF;
  --color-14: #33475B;
  --color-15: #FFFFFF30;
  --color-16: #D81F26;
  --color-17: #D9D9D9;
  --color-18: #FF7A59;
  --color-19: #FF9900;
}